.brand {

    width: 100%;
    height: 200px;
    padding: 40px;
    font-size: 25px;
    background-image: url(../imgs/4_header.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(155, 214, 203);   
    line-height: 0.5px;
    border-bottom: 15px solid black;
    -webkit-text-stroke: 0.8px black;

}

.brand p {
    margin-top: 40px;
}

.brand h1 {
    margin-top: 70px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(229, 226, 235);
}

.products {
    width: 80%;
    margin: 10%;
}

.products td {
    width: 50%;
    padding: 2em;
}

table p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.products img {
    width: 100%;
    border-radius: 30px;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(227, 16, 136);
    color: white;
    text-align: center;
    font-weight: 900;
}
